@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #E3E3E3;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #E3E3E3;
  color: #222;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
